@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.techButton {
  box-shadow: 0px 0px 8px 4px #a855f7;
  cursor: pointer;
}



@layer utilities {
  /* .diagonal-reveal-expand {
    width: 0;

    height: 0;
    top: 0;

    right: 0;
    border-radius: 50%;
     transform: scale(0);
    transform-origin: top right;
    animation: diagonal-expand 0.8s linear forwards;
  }

  @keyframes diagonal-expand {
    0% {
      width: 0;
      height: 0;
      top: 0;
      right: 0;
      clip-path: polygon(100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }

    100% {
      width: 200vmax;
      height: 200vmax;
      top: -100vmax;
      right: -100vmax;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  } */

  .diagonal-reveal-expand {
    position: fixed;
    top: -150vmax;
    right: -150vmax;
    width: 300vmax;
    height: 300vmax;
    border-radius: 50%;
    background-color: white;
    transform: scale(0);
    transform-origin: top right;
    animation: scale-up-circle 0.8s linear forwards;
    z-index: 9999;
  }

  .diagonal-reveal-bl-tr {
    position: fixed;
     top: -150vmax;
    right: -150vmax;
    width: 300vmax;
    height: 300vmax;
    border-radius: 50%;
    transform: scale(1);
    background-color: #151515;
    transform-origin: top right;
    animation: scale-down-circle 0.8s linear forwards;
    z-index: 9999;
  }

  @keyframes scale-up-circle {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes scale-down-circle {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0);
 
    }
  }




  .animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slide-up 0.6s ease-out forwards;
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
    opacity: 0;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
    opacity: 0;
  }
}

body{
  background-color: white;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color:  black;
  clip-path: circle(0% at top right);
  transition: clip-path 0.4s ease-in-out;
  pointer-events: none;
  z-index: -50;
}


/* When dark mode is enabled, expand the circle */
.dark body::before {
  clip-path: circle(150% at top right);
}